# Django
SECRET_KEY=
DEBUG=

# OpenAI
OPENAI_API_KEY=

ALLOWED_HOSTS=""

DB_ENGINE=""
DB_NAME=""
DB_USER=""
DB_PASS=""
DB_HOST=""
DB_PORT=""

DJANGO_ENVIRONMENT=""

ROLLBAR_ACCESS_TOKEN=""

SITE_URL=""

CELERY_BROKER_URL=""